/* Write some CSS below */
/* Import Google font */

body {
font-size: 20px;
color: rgb(2, 2, 94);
background: rgb(245,245,255);
background: linear-gradient(90deg, rgba(245,245,255,1) 0%, rgba(245,235,251,1) 44%, rgba(228,239,241,1) 100%);
}
.container {
        
    width : 800px;
    margin : 30px auto;
}

h1, h2 {
font-family: 'Roboto';

}

h1 {
    font-size: 40px;
    font-weight: 700;
    font-weight: ;
}

h2 {
    font-size: 30px;
    color: rgb(110, 48, 64);
    font-weight: 400;
    
}


a  {   
    text-decoration: none;
}

.cards {
    display : grid ;
    gap: 16px;
}
.card-white {
        
    background-color : #E6DADA;
    border-radius: 5px;
    box-shadow: 0, 0, 0, 0.1;
    margin: 40px;
    padding: 30px;
    line-height: 1.30;
    text-align: center;
    box-shadow: 0 10px 20px rgba(133,58,58,0.4);
}

.img-circle {
        
     width:200px;
     height:200px;
    border-radius: 50%;
     background-color : #e98c8c;
     object-fit : cover
}

.button {
     
    color : rgb(255, 255, 255);
    background-color : rgb(110, 48, 64);
    border-radius : 5px;
    font-family: Roboto;
    font-weight : 500;
    margin:20px;
    padding: 15px 25px

}
.button:hover {
    background-color:#e7a6e4;
}

 #introduction p {
        
    margin-bottom: 30px;
    line-height: 1.30;
}  

.List-inline          {
        
        list-style-type : none;
        padding-left: 0;
}

.List-inline li {
display: inline;
}             

.List-inline li i {
        
        font-size : 40px;
        color: black;
        margin: 0 5px;
}
                        
.List-inline li i:hover{

opacity: 0.7;
 }

.list-row {
    display: flex;
    list-style: none;
}
.list-row li {
    margin: 10px;
}
.list-row li img {
    border-radius: 4px;
    width : 100%;
    height: auto;
    object-fit: cover;
}

